#item-ind-title {
    font-weight: bold;
}

#individualItemCardContainer {
    padding-top: 2%;
}

#individualItemPageSpan {
    font-weight: bold;
}

#suggestionContainer {
    margin-top: 5%;
}

#suggestionCol {
    width: fit-content;
    margin: auto;
}

#suggestionRow {
    width: fit-content;
    margin: auto;
}

#suggestionHeader {
    padding-top: 2%;
    padding-bottom: 1%;
    border-top: 5px solid #47526E;
}

.suggestionListCol {
    display: flex;
    justify-content: center;
}

.suggestionListCard {
    width: 18rem;
    box-shadow: 5px 5px 5px rgb(175, 175, 175);
}

.suggestionListCardImage {
    border-radius: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    width: 17rem;
    height: 12rem;
    object-fit: cover;
}

.itemPageImage {
    border-radius: 5px;
    margin-top: .5em;
    object-fit: cover;
    max-width: 37rem;
    max-height: 25rem;
    cursor: zoom-in;
}

.itemPageImage>.card-body {
    align-items: center;
}

.itemPageImage>.container {
    padding-top: 2%;
}

#clickToZoom {
    margin-bottom: 0;
    margin-top: .7rem;
}

#itemPageWholeContainer {
    width: 90%;
}

@media only screen and (max-width: 600px) {
    #itemPageWholeContainer {
        width: auto;
        padding: 0;
    }

    .itemPageImage {
        padding-right: 0;
    }

    .itemPageImageCol {
        padding-right: 0;
    }

    .row {
        margin-left: 1.5;
        padding-left: 0;
        margin-right: .5;
        padding-right: 0;
        --bs-gutter-x: 2rem;
    }
}

#shareIcon {
    color: #47526E;
    margin-right: 12px;
}

#viewIcon {
    color: #47526E;
}

#shareIcon:hover {
    cursor: pointer;
}

#flagIcon {
    color: red;
}

#flagIcon:hover {
    cursor: pointer;
}

#itemPageEditButton {
    margin-right: 2px;
}

#itemPageDescription {
    text-align: left;
}

#itemPrice {
    font-size: 40px;
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 5px;
}

#itemTitle {
    font-size: 40px;
    margin-top: 0;
    padding-top: 0;
}

.itemPageInfoBox {
    width: 80%;
}

#cardDescriptionText {
    text-align: left;
    font-weight: bold;

}

.itemDescriptionCounter {
    text-align: right;
    color: #666;
}

.itemDescriptionCounterRed {
    text-align: right;
    color: red;
}

#draftIndicator {
    color: red;
}

.itemTitleCounter {
    display: block;
    width: 100%;
    text-align: right;
    padding-right: calc(var(--bs-gutter-x) * .5);
    color: #666;
}

.itemTitleCounterRed {
    display: block;
    width: 100%;
    text-align: right;
    padding-right: calc(var(--bs-gutter-x) * .5);
    color: red;
}

#itemPageTextCard {
    margin-top: 3%;
    min-height: 23rem;
}

#imageModal {
    max-width: 60rem;
    max-height: 60rem;
    cursor: zoom-out;
}

.item-image-modal {
    background-color: transparent;
}

#viewsInfo {
    text-align: left;
    width: fit-content;
}

.tableItems {
    text-align: center;
}

.itemPageCardTitles {
    font-weight: bold;
    margin-left: 20px;
}

#returnToItemList {
    text-align: left;
    margin-top: 30px;
    margin-bottom: 0px;
    margin-left: 50px;
    width: fit-content;
}

#returnToItemList:hover {
    cursor: pointer;
}

.emailAndPhone {
    color: black;
    text-decoration: none;
}

.contactInfoAcc {
    padding: 1%;
}

.contactIcon {
    padding-right: 5px;
    color: #47526E;
}

#condor {
    color: #47526E;
    text-decoration: none;
}

#itemViewAndShare {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#itemPageButtons {
    text-align: right;
    margin-top: 10px;
}

.usernameAndLocationIcons {
    color: #47526E;
}

#editItemCancelButton {
    margin-top: 30px;
    margin-right: 10px;
    background-color: red;
    border-color: red;
}

#editItemCancelButton:hover {
    background-color: rgb(207, 6, 6);
    border-color: rgb(207, 6, 6);
}

#editItemWillingToShip:checked {
    background-color: #47526E;
    border-color: #47526E;
}

#editItemNotWillingToShip:checked {
    background-color: #47526E;
    border-color: #47526E;
}

#itemPageDeleteButton {
    background-color: red;
    border-color: red;
}

#itemPageDeleteButton:hover {
    background-color: rgb(207, 6, 6);
    border-color: rgb(207, 6, 6);
}