#dev-card-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#team-card-modal {
    min-width: 800px;
}

#dev-card {
    margin: 3%;
}

#devCardModalTitle {
    text-align: center;
}