#suggestionListCardImage {
    border-radius: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    width: 17rem;
    height: 12rem;
    object-fit: cover;
}

#suggestionListCard {
    width: 18rem;
    height: 25rem;
    margin: 5% 0%;
    box-shadow: 5px 5px 5px rgb(175, 175, 175);
}