.ServiceApp {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #292a2e;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-left: 20px;
}

.App-link {
  color: white;
  padding: 0 20px 0 20px;
  font-weight: bold;
  font-size: large;
}

.serviceList {
  margin: 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3em;
  backdrop-filter: blur(5px);
}

.serviceListProfile {
  margin: .5em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3em;
  backdrop-filter: blur(5px);
}

.newPostButton {
  display: flex;
  justify-content: center;
  margin: 10px auto;
}

.searchBarTop {
  margin-top: 20px;
}

.searchBarBottom {
  border-top: 5px solid rgb(203, 199, 199);
  padding-top: 0.50rem;
  margin-top: 0.75rem;
}

.sortButtons.hstack {
  display: flex;
  justify-content: left;
  margin-bottom: 12px;
}

.headerTitle {
  padding: 1% 0%;
  border-bottom: 5px solid rgb(203, 199, 199);
  text-align: center;
}

.serviceBody {
  background: url(./Styles/whiteBackground1.jpg) no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100vh;
  min-width: 100vh;
}

.App-link-button {
  margin-bottom: 8px;
}

#catSelect {
  margin-top: 8px;
  margin-bottom: 0px;
}

.card-body {
  display: flex;
  flex-direction: column;
}

button.btn {
  margin-top: auto;
}

.search {
  border-right: rgb(203, 199, 199) solid;
  border-width: 5px;
  min-height: 100vh;
  
}

.radioButtonGroup {
  background: none;
  border: none;
  padding: 0;
  font-family: arial, sans-serif;
  color: #069;
  text-decoration: underline; 
  cursor: pointer; 
  display: flex;
  flex-direction: row;
}

.container-fluid {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.newPostForm {
  width: 25%;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  background-color: rgba(211, 207, 207, 0.19);
}

.card-header {
  background-image: linear-gradient(to bottom, #d8d8d8, #dddddd, #e1e1e1, #e6e6e6, #ebebeb);
}

.cardBorder {
  border-radius: 10px;
  padding: 10px;
  filter: drop-shadow(3px 3px 3px rgb(110, 110, 110));
  border: none;
}

.background-newPost {
  background: url(./Styles/whiteBackground1.jpg) no-repeat center fixed;
  background-size: cover;
  padding-top: 20px;
  min-height: 100vh;
  min-width: 100%;
}

.background-usersPosts {
  background: url(./Styles/whiteBackground1.jpg) no-repeat center fixed;
  background-size: cover;
  padding-top: 10px;
  padding-bottom: 10px;
}

.inputField {
  margin-bottom: 8px;
}

.servicePostInactive {
  font-style: italic;
}

.formHeader {
  font-size: 2em;
}

.searchbox {
  margin-bottom: 8px;
}

#newPostLabel {
  margin-bottom: 0;
}

#newPostButtons {
  justify-content: center;
}

#cardText:hover {
  cursor: pointer;
}

.hstack {
  justify-content: center;
}

.userButtons {
  justify-content: flex-end;
}

#deleteButton {
  padding-left: 2px;
  padding-right: 2px;
}

#mainPageEditButton {
  padding-left: 2px;
  padding-right: 2px;
}

#unflaggedButton {
  padding-left: 6px;
  padding-right: 6px;
}

#flaggedButton {
  padding-left: 2px;
  padding-right: 2px;
}

.buttonRow {
  padding-right: 0 !important;
}

.titleDescription {
  padding-right: 0 !important;
}

.servicePostActive {
  padding-right: 0 !important;
  text-align: left;
}

.servicePostInactive {
  padding-right: 0 !important;
  text-align: left;
}

.categoryDescription {
  text-align: left;
}

#cardText {
  text-align: left;
}

#resetButtonSearchBar {
  margin-bottom: 8px;
  margin-top: 8px;
}

#filterResults {
  padding-top: 8px;
}

.looking-for-service {
  color: white;
  text-align: center;
  background-color: green;
  margin: 0;
  padding: 0;
}
 
.buttonSet {
  padding-right: 0;
}

.filter-message {
  line-height: 1.5;
  vertical-align: middle;
  text-align: center;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-weight: bold;
  font-size: 16px;
  background-color: #88BD3F;
  border-radius: 0.25rem;
}

#accordionSearchBar {
  width: 85%;
  margin: 0 auto;
}

#applyFilterButton {
  filter: drop-shadow(2px 2px 2px black);
  border: none;
}

#resetCurrentLocation {
  filter: drop-shadow(2px 2px 2px black);
  border: none;
}

.resetAllButton {
  border-top: 5px solid rgb(203, 199, 199);
  margin-top: 0.75rem;
  padding-top: 0.75rem;
}

.cat-link {
  text-align: left;
}

.serviceStack {
  text-align: left;
}