.ItemApp {
  text-align: center;
}

.ItemApp-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .ItemApp-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.ItemApp-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.ItemApp-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.btn-item_primary {
  background-color: #88BD3F;
  border-color: #88BD3F;
  color: white;
}

.btn-item_primary:hover {
  color: white;
  background-color: #608829;
  border-color: #608829;
}

.itemToggle > input:checked {
  background-color: #88BD3F;
  border-color: #88BD3F;
}