.card {
    color: black;
}

.InputGroup {
    color: black;
}

#item-list-page-filter-column {
    border-right: 5px solid #47526E;
    min-height: 100vh;
    padding: 2%;
}

@media only screen and (max-width: 600px) {
    #item-list-page-filter-column {
        min-height: inherit;
        width: 100%;
    }

    #itemPageWholeContainer {
        width: auto;
        padding: 0;
    }

    #item-list-page-list-header {
        text-align: center;
        width: 100%;
        --bs-gutter-x: 2rem;

    }

    .forMobile {
        justify-content: flex-end;
    }

    #itemListTitleRow {
        width: fit-content;
    }

}

#itemListTitleRow {
    width: fit-content;
}

#item-list-page-row {
    height: 100%;
    width: 99vw;
}

.shipping-checkbox {
    text-align: left;
    padding-bottom: 1px;
    padding-top: 2%;
    margin-bottom: 1px;
    margin-top: 5%;
}

#itemfilterform {
    text-align: left;
}

.filter-Options {
    padding-bottom: 2%
}

.filter-Options>label {
    margin-bottom: 0%;
    font-weight: bold;
}

.min-max-filter {
    margin-bottom: 2%;
}

#item-list-page-card-image {
    border-radius: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    width: 17rem;
    height: 12rem;
    object-fit: cover;
}

#item-list-page-card {
    width: 18rem;
    height: 25rem;
    margin: 5% 0%;
    box-shadow: 5px 5px 5px rgb(175, 175, 175);
}

#item-list-page-main-column {
    margin-bottom: 5%;
}

#item-list-page-list-header {
    padding: 2% 0%;
    margin-bottom: 2%;
    border-bottom: 5px solid #47526E;
}