.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  display: flex;
  background-color: rgb(222, 212, 188);
  padding: 1em;
}

.App-link {
  color: #284a79;
}

.UserInfo {
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: left;
  padding-left: 2em;
  padding: 1em;
}

.ProfilePicture {
  display: flex;
}

.UserName {
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: left;
  padding-top: 10.3em;
  padding-left: .7em;
  font-size: larger;
}

.some-page-wrapper {
  margin: 15px;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.left-column {
  justify-items: right;
  text-align: right;
}

.right-column {
  text-align: left;
  margin-left: 2em;
}

.ratingRow {
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  padding: 1em;
}

.tabListingClassName {
  justify-content: center;
  margin-top: 2em;
}

.CreateListing {
  padding-left: 1em;
  padding-right: 1em;
}

.loginForm {
  padding-top: 4em;
  display: inline-block;
}

#loginFormCenter{
  text-align: center;
}

.modal-w {
  min-width: 55%;
}

#registrationForm {
  text-align: left;
  display: block;
  width: auto;
  padding-left: 28%;
  padding-top: 1.5em;
}

.ActiveListings {
  padding-left: 5em;
  padding-right: 5em;
}

.PastListings {
  padding-left: 5em;
  padding-right: 5em;
}

.panel-body {
  height: 30em;
  overflow: hidden;
}

.t1 {
  max-height: 40em;
  overflow: auto;
}

.t2 {
  height: 30em;
}

.panel-body-service {
  height: auto;
  overflow: hidden;
}

#profileWelcomeLine {
  font-weight: bold;
}

#profileContactInfoColumns{
  text-align: left;
}

.profileDetailsAlignmentLeftColumn{
  text-align: left;
  align-items: left;
  padding-left: 4.5em;
  text-decoration: brown;
}

.profileDetailsAlignmentRightColumn{
  text-align: left;
  align-items: left;
  padding-left: 3em;
}

#editContactDetailsButton {
  border: none;
  margin-top: 1em;
  margin-bottom: 1.5em;
  filter: drop-shadow(2px 2px 2px black);
}

#profileImage {
  width: 100% !important;
  height: 100% !important;
  max-width: 150px !important; /* any size */
  min-width: 150px !important; /* any size */
  max-height: 150px !important; /* any size */
  min-height: 150px !important; /* any size */
  border-radius: 50%;
  background: #88BD3F;
  font-size: 78px;
  color: #fff;
  text-align: center;
  line-height: 150px;
  margin-left: auto;
  margin-right: auto;
  filter: drop-shadow(2px 2px 2px black);
  position: relative;
}

.uploadImage {
  display: inline;
  color: #88BD3F;
  opacity: 0%;
  width: 100px;
  height: 100px;
  position: relative;
  bottom: 8em;
}

.uploadImage:hover {
  display:inline;
  opacity: 100%;
  width: 100px;
  height: 100px;
  position: relative;
  bottom: 8em;
  filter: drop-shadow(2px 2px 2px black);
  
}

.uploadImageButton{
  border-radius: 50% !important;
  width: 40px;
  height: 40px;
  position: relative;
  bottom: 4em;
  left: 1.5em;
  filter: drop-shadow(2px 2px 2px black);
  background-color:transparent !important;
  border-color:transparent !important;
  box-shadow:none !important;
}

.modalImageBtn {
  float: right;
}


#createAListingButton {
  border: none;
  margin-top: 1em;
  margin-left: .5em;
  margin-right: .5em;
  filter: drop-shadow(2px 2px 2px black);
}

#tabListingId-tab-Item.active {
  border: none;
  filter: drop-shadow(2px 2px 2px black);
  color: #0c63e4;
  background-color: #e7f1ff;
}

#tabListingId-tab-Item {
  border: none;
  filter: drop-shadow(2px 2px 2px black);
  background-color: lightgray;
  color: black;
}

#tabListingId-tab-Service.active {
  border: none;
  filter: drop-shadow(2px 2px 2px black);
  color: #0c63e4;
  background-color: #e7f1ff;
}

#tabListingId-tab-Service {
  border: none;
  filter: drop-shadow(2px 2px 2px black);
  background-color: lightgray;
  color: black;
}

:root {
  --profilePic-bg-color: #88BD3F
}

#initialsHeader {
  width: 100% !important;
  height: 100% !important;
  max-width: 45px !important; /* any size */
  min-width: 45px !important; /* any size */
  max-height: 45px !important; /* any size */
  min-height: 45px !important; /* any size */
  border-radius: 50%;
  background: var(--profilePic-bg-color);
  font-size: 23px;
  color: #fff;
  text-align: center;
  line-height: 45px;
  margin-left: auto;
  margin-right: auto;
  filter: drop-shadow(2px 2px 2px black);
  position: relative;
}

#profileDiv {
  height: 12em;
}


.profileBackround {
  background: url(blueBackground5.jpg) no-repeat center fixed ;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100vh;
  min-width: 100vh;
  padding: 20px;
}
