.homeContent {
  width: 100%;
  padding-top: 18vh;
}

.bgImage {
  background-image: url("../images/YardSale_Background.png");
  height: 100vh;
  width:100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  z-index: -1;
}

#yardSaleLogo {
  margin: auto;
  margin-bottom: -50px;
  padding-bottom: 1rem;
  width: 610px;
  filter: drop-shadow(2px 2px 2px black);
  z-index: 3;
}

.homeSearchForm {
  margin: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  max-width: 610px;
  display: flex;
  justify-content: center;
  z-index: 2;
}

#formGridSelect {
  min-width: 6.5rem;
  filter: drop-shadow(2px 2px 2px black);
}

#formGridSearch {
  filter: drop-shadow(2px 2px 2px black);
}

#homeSearchButton {
  filter: drop-shadow(2px 2px 2px black);
}