#item-list-page-main-column {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  justify-items: center;
}

@media only screen and (max-width: 1300px) {
  #item-list-page-main-column {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (max-width: 1000px) {
  #item-list-page-main-column {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 700px) {
  #item-list-page-main-column {
    display: grid;
    grid-template-columns: 1fr;
  }
}