#row-box {
    padding: 20px;
    margin: auto;
}

#item-main-header {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    border-style: solid;
    border-color: #47526E;
    padding: 10px;
}

#item-ind-title.form-label {
    font-weight: bold;
    font-size: 17px;
    margin-top: 5px;
    padding-top: 5px;
    text-align: left;
}

#item-ind-title-exchange {
    font-weight: bold;
    font-size: 17px;
    padding-right: 10px;
}

#exchanges {
    text-align: center;
    padding-bottom: 20px;
}

.scroll {
    overflow-y: auto;
    max-height: 1000px;
}

#container {
    max-width: 60%;
    padding-bottom: 40px;
}

#cancelNewItem {
    margin-top: 30px;
    margin-right: 10px;
    background-color: red;
    border-color: red;
}

#cancelNewItem:hover {
    background-color: rgb(207, 6, 6);
    border-color: rgb(207, 6, 6);
}

#createItemSubmitNewItem {
    margin-top: 30px;
}

#createItemDraft {
    margin-top: 30px;
    margin-right: 10px;
    background-color: #47526E;
    border-color: #47526E;
}

#createItemDraft:hover {
    background-color: #394258;
    border-color: #394258;
}

.itemDescriptionCounter {
    text-align: right;
    color: #666;
}

.itemDescriptionCounterRed {
    text-align: right;
    color: red;
}

.itemTitleCounter {
    display: block;
    width: 100%;
    text-align: right;
    padding-right: calc(var(--bs-gutter-x) * .5);
    color: #666;
}

.itemTitleCounterRed {
    display: block;
    width: 100%;
    text-align: right;
    padding-right: calc(var(--bs-gutter-x) * .5);
    color: red;
}

#createItemWillingToShip:checked {
    background-color: #47526E;
    border-color: #47526E;
}

#createItemNotWillingToShip:checked {
    background-color: #47526E;
    border-color: #47526E;
}